.site-footer {
  background-color: #000;
  padding: 30px 0;
  text-align: center;
}

#menu-footer-menu li {
  display: inline-block;
  padding: 0 20px;
}

#menu-footer-menu li a {
  color: #fff;
}

.sfsiplus_footerLnk {
  display:none !important;  
}
