@import url('https://fonts.googleapis.com/css?family=Titillium+Web|Ubuntu');

* { /* Ensure padding & border are included in W/H calcs */
  box-sizing: border-box;
}

/* For mobile phones: Mobile first*/
[class*="col-"] {
  width: 100%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

header {
  margin-top: 10px;
}


/* Top Menu */

.menu-top-menu-container {
  background-color: #000;
  display: inline-block;
  padding-right: 20px;
}

.menu-top-menu-container ul {
  margin:0;
  padding:0;
}

.menu-top-menu-container li {
  display: inline-block;
  list-style: outside none none;
  margin: 0;
  padding: 2px 4px;
  position: relative;
}

.menu-top-menu-container li a {
  color: #fff;
  font-size: 18px;
  padding: 0 20px;
}

.menu-top-menu-container > ul > li::after {
  color: #555;
  content: "/";
}


.menu-top-menu-container li.menu-item-has-children:hover .sub-menu {
  display:block;
}

.sub-menu {
  background-color: #000;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  display:none;
}

.sub-menu li {
  display: block;
}

.menu-top-menu-container .sub-menu a {
  font-size: 18px;
}
