/* Custom CSS */

body {
  font-family: 'Ubuntu', sans-serif;
}

h1,h2,h3,h4,h5 {
  font-family: 'Titillium Web', sans-serif;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.blog-wrapper {
  margin-bottom: 40px;
}

.content-area {
  display: inline-block;
  float: left;
  margin-right: 50px;
  width: 70%;
}

.sidebar {
  display: inline-block;
  margin-left: 50px;
  width: 20%;
}

/* Home Page */

.post-title a {
  font-size: 26px;
}

.post-meta {
}

.read-more {
  background-color: #3b5998;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  padding: 5px;
}

.read-more:visited,
.read-more:hover {
  color:#fff;
}

.featured-image {
  transition: .8s;
  position: relative;
}

.featured-image:hover {
  transform: scale(1.1);
}

.featured-image img {
   height: 300px;
}

.image-overlay {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 7px;
  left: 0;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  transition: opacity 1.2s;
}

.image-overlay:hover {
  opacity:1;
}

a {
  color: #3b5998;
  text-decoration: none;
}

a:hover,
a:visited {
  color: #3b5998;
}

.post-categories {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.post-categories li {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
